body {
    width: 100%;
    padding: 0;
    margin: 0;
}
.root {
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    position: relative;
}
.buttons {
    background-image: url(back/iphone.png);
    width: 100%;
    height: 920px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 90px 90px 90px 90px 90px;

    position: absolute;
    gap: 10px;
    justify-content: center;
}
button {
    background-color: rgb(48, 48, 48);
    color: white;
    border-radius: 63%;
    width: 90px;
    height: 90px;
    border: none;
    font-size: 40px;
    margin-top: 190px;
}

button:hover {
    transform: scale(1.1);
    filter: contrast(0.7);
   
}
.gray {
    background-color: rgb(91, 91, 91);
}
.zero {
    width: 190px;
    grid-column: 1 / 3;
    border-radius: 50px;
}
input {
    grid-column: 1/5;
    background:none;
    width: 350px;
    height: 97px;
    border-radius: 14px;
    color: white;
    font-size: 60px;
    border: none;
    text-align: end;
    padding-inline: 20px;
    padding-top: 145px;
}
input::placeholder {
    font-size: 60px;
    color: white;
}
.orange {
    background-color: rgb(199, 113, 8);
}
.number {
    color: white;
    font-size: 40px;
}

@media (max-width: 440px){
    .buttons {
        background-image: url(back/iphone3g.png);
        grid-template-columns: repeat(4,60px);
        grid-template-rows: repeat(5, 60px);
        background-position-y:top ;
        height: 100%;
    }
    .zero {
        width: 130px;
    }
    button {
        
        border-radius: 63%;
        width: 60px;
        height: 60px;
        border: none;
        font-size: 20px;
        margin-top: 190px;
    }
    input {
        width: 238px;
        height: 52px;
        padding-top: 182px;
        font-size: 50px;
    }
    input::placeholder {
        font-size: 50px;
    }

}
@media (max-width: 410px) {
    input {
        padding-top: 163px;
    }
    button {
        margin-top: 155px;
    }
}